.input-form form{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-bottom: 50px;
    
}

.input-field{
    width: 30%;
    margin-left: 10px;
    padding: 10px;
}
.input-form form button{
    padding:10px 30px;
    margin-left: 10px;
}